
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

*.class
*.jar
*.war
*.ear
*.nar

.metadata/
*.tmp
*.bak
*.swp
.project
.classpath
.settings/

/.idea/
*.iml
*.iws
out/

.vscode/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
Icon\r

*.stackdump

~$*
*.tmp
~*.tmp
*.lnk

logs/
*.log

gradle-wrapper.jar



*.sublime-workspace

.idea/
*.iws
out/

*.swp
*.swo


~/.gradle/

!src/main/resources/plugin.yml
!src/main/resources/config.yml

RecipeDupe_AOTW.code-workspace
